@import '../../scss/variables';

.transaction-container {
	width: 92%;
	margin: 40px auto;
	background: white;
	border-radius: 5px;

	h1 {
		margin-top: 15px;
		// font-size: 40px;
		display: flex;
		justify-content: center;
	}

	.transaction--totals {
		padding: 20px 5px 0 5px;
		text-align: center;
		font-size: 1.4em;

		@media all and (min-width: 1000px) {
			font-size: 2em;
		}
	}

	.transactions {
		margin: 15px 0 30px 0;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media all and (min-width: 1200px) {
			margin: 15px auto;
			max-width: 1560px;
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: wrap;
		}

		button {
			margin: 30px;
			width: 150px;
			height: 45px;
			background-color: $green;
			border: 1px solid black;
			border-radius: 5px;
			color: black;
			cursor: pointer;
		}
	}
}
