@import '../scss/variables';

$bottom: 60px;

.statistics {
	max-height: 100vh;

	@media all and (max-width: 800px) {
		// margin-top: 50px;
	}

	.item {

		h1 {
			text-align: center;
			margin: 20px;
		}

	}

	.category-chart-container {
		width: 100%;
	}


	&__btn-container {
		position: fixed;
		bottom: 0;
		display: flex;

		&__btn {

			margin-top: 15px;
			width: 50vw;
			height: $bottom;
			background: black;
			color: white;
			cursor: pointer;
			bottom: 0;

			&--left {
				left: 0;
			}

			&--right {
				right: 0;
			}

		}

	}

	.react-swipe-container > div {
		display: flex;
		align-items: center;
	}

}
