@import '../scss/variables';

.error {
	position: fixed;
	margin: 15px auto;
	width: 350px;
	padding: 15px 30px;
	border-radius: 10px;
	color: white;
	transition: transform 0.4s cubic-bezier(0.6, 0, 0.3, 1.2);
	transition: opacity .2s ease;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	transform: translateY(30px);
	animation: slideFromTop .7s 1;
	z-index: 3;
	display: flex;
}

.hide {
	transition: transform .7s cubic-bezier(0.6, 0, 0.3, 1.2);
	transform: translateY(-100vw);
}

@keyframes slideFromTop {
	0%   { transform: translateY(-100vw); }
	100% { transform: translateY(30px); }
}
