@import "../../scss/variables.scss";

.accounts {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 1100px;
}

h1 {
	@media all and (max-width: 800px) {
		margin-left: 15px;
	}
}

.account-names {
	margin: 15px 0;
	height: 60px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

	&--name {
		margin: 0px 10px;
		width: 40%;
		white-space: nowrap;
		text-overflow: ellipsis;

		@media (hover: none) and (pointer: coarse) {
			overflow: scroll;
		}
	}

	&--input {
		margin: 0 10px;
		width: 35%;
		padding: 10px;
		font-size: 18px;
		color: black;
		outline: 1px solid rgb(50, 50, 50);
	}

	&--submit {
		position: relative;
		margin: 0 20px 6px 20px;
		padding: 10px 20px;
		background-color: $green;
		border-radius: 5px;
		font-size: 18px;
		color: white;
		cursor: pointer;
		transition: background-color .1s ease;
		box-shadow: 0 6px darken($green, 10%);

		&:hover {
			background-color: darken($green, 3%);
			box-shadow: 0 6px darken($green, 13%);
		}

		&:active {
			top: 3px;
			box-shadow: 0 0 darken($green, 10%);
		}
	}
}

.account-names:nth-child(2n+1) {
	background: lighten($background-color, 5%);
}

.account-names:nth-child(2n) {
	background: darken($background-color, 2%);
}
