.year {

	@media all and (max-width: 800px) {
		width: 90% !important;
	}

	&--custom-tooltip {
		margin-right: 30px;
		padding: 15px;
		background: black;
		color: white;
		border-radius: 5px;
	}
}
.recharts-wrapper {
	overflow-y: hidden;
}
