.container {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	padding: 0;
	border-radius: 0;
	transition: all 1s;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;
	overflow-x: hidden;
	display: flex;

	.scrollable-elements {
		transition: transform 0.75s ease-in-out;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		display: flex;

		.wrapper {
			width: 100vw;
			justify-content: center;
			align-items: center;
			display: flex;

			// @note elements that are scrollable must be wrapped in a
			// <section> tag and NOT a <div> tag to work properly. <section>s
			// will not have the right width if wrapped with a div.
			section {
				width: 100%;
			}
		}
	}

}

.btn {
	position: fixed;
	width: 50%;
	height: 60px;
	background: black;
	color: white;
	cursor: pointer;

	&--left {
		font-size: 25px;
		z-index: 3;
		left: 0;
		bottom: 0
	}

	&--right {
		font-size: 25px;
		z-index: 3;
		right: 0;
		bottom: 0;
	}
}

