@import '../scss/variables';

.home * {
	overflow-y: hidden;
}

.home {
	h1 {
		text-align: center;
	}

	h2 {
		margin-top: 30px;
		text-align: center;
	}

	&--loading {

		img {
			margin: 0 auto;
			width: 80vw;
			// height: 80vh;
			padding: 10px;
			display: block;
			border: 5px solid rgb(100, 144, 183);
			border-radius: 50%;
		}
	}
}
