@import './../../scss/variables.scss';

.networth--loading {

	h1 {
		color: white;
	}

}

@keyframes slideRight {
	0% {
		left: -5px;
		opacity: 0;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
}

.networth-table {
	padding: 15px 0;
}

