@import '../scss/variables';

%icon-containers {
	transform: translateY(-50px);
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding: 20px;
	background-color: black;
	border-radius: 10px;
	transition: all.3s ease-out;
}

%before-div {
	transform: translateY(-50px);
	opacity: 0;
	content: "";
	position: absolute;
	margin-top: 20px;
	width: 0;
	height: 0;
	border-bottom: 50px solid rgba(0, 0, 0, 0.6);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	transition: transform .3s ease-out, opacity .3s ease-out;
}

.accounts {
	position: relative;
	margin-top: 30px;

	@media all and (max-width: #{$navbar-media-query-width - 1px}) {
		margin-top: 0;
	}

	.red {
		text-align: center;
		color: $red;
	}

	.green {
		text-align: center;
		color: $green;
	}

	&--search-options {
		margin: 0 20px 20px 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		@media all and (max-width: 600px) {
			flex-direction: column;
		}

		&--icon-search {
			max-width: 300px;
			width: 30%;
			display: flex;
			justify-content: space-around;
			align-items: center;

			@media all and (max-width: 600px) {
				margin-top: 15px;
				width: 80%;
			}

			&--categorical-search {
				display: flex;
				flex-direction: column;
				align-items: center;

				.icon {
					font-size: 30px;
					cursor: pointer;
					z-index: 1;

					path {
						color: $gray;
						transition: color .1s ease-in;

						&:hover {
							color: $red;
						}
					}
				}

				&--categories {
					display: flex;
					justify-content: center;

					&:before {
						@extend %before-div;
					}

					div {
						@extend %icon-containers;
						width: 260px;
						height: 250px;
						overflow-y: scroll;
						display: flex;
						justify-content: flex-start;
						flex-wrap: wrap;
						z-index: 1;

						section {
							margin: 10px;
							width: calc(33% - 20px); // 2 * the margin (multiply by 2 for both sides)
							display: flex;
							flex-direction: column;
							align-items: center;

							.category-icon {
								margin-bottom: 5px;
								font-size: 40px;

								path {
									color: $default-font-contrast-color;
									transition: color .1s ease-in;

									&:hover {
										color: $red;
									}
								}
							}

							p {
								font-size: 12px;
								color: $default-font-contrast-color;
								text-align: center;
							}
						}

					}
				}

				&--categories__active {
					display: flex;
					justify-content: center;

					&:before {
						transform: translateY(0px);
						opacity: 1;
					}

					div {
						margin-top: 60px;
						transform: translateY(0);
						visibility: visible;
						opacity: 1;
						transition: all.3s ease-out;

						@media all and (max-width: 525px) {
							margin-left: 50px;
						}

						.category-icon {
							cursor: pointer;

							&:hover {
								color: $red;
							}

							path {
								color: inherit;
							}
						}

						button {
							width: 0;
							height: 0;
						}
					}
				}
			}

			&--date-search {
				.icon {
					font-size: 35px;
					cursor: pointer;

					path {
						color: $gray;
						transition: color .2s ease-in;

						&:hover {
							color: $red;
						}
					}
				}
			}

			&--accts-search {
				display: flex;
				flex-direction: column;
				align-items: center;

				.icon {
					font-size: 40px;
					cursor: pointer;
					z-index: 1;


					path {
						color: $gray;
						transition: color .1s ease-in;

						&:hover {
							color: $red;
						}
					}
				}

				&--accts {
					display: flex;
					justify-content: center;

					&:before {
						@extend %before-div;
					}

					div {
						@extend %icon-containers;
						width: 180px;
						max-height: 300px;
						padding: 20px;
						justify-content: flex-start;
						z-index: 1;
						overflow-y: scroll;

						&::-webkit-scrollbar {
							width: 7px;
							background-color: rgba(100, 100, 100, 0.7);
							outline: 1px solid slategrey;
							-webkit-appearance: none;
						}

						&::-webkit-scrollbar-thumb {
							background-color: rgba(100, 100, 100, 0.7);
							border-radius: 4px;
							outline: 1px solid slategrey;
							box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
						}

						button {
							margin: 15px 0;
							width: 100%;
							background-color: black;
							border-radius: 5px;
							text-align: left;
							font-size: 1em;
							color: white;
							cursor: pointer;

							&:before {
								content: "▪ ";
								white-space: pre;
							}
						}
					}
				}

				&--accts__active {
					display: flex;
					justify-content: center;

					&:before {
						transform: translateY(0px);
						opacity: 1;
					}

					div {
						margin-top: 60px;
						transform: translateY(0) translateX(-23%);
						visibility: visible;
						opacity: 1;
						transition: all.3s ease-out;

						@media all and (max-width: 500px) {
							// margin-right: 50px;
						}
					}
				}
			}
		}

		&--keyword-search {
			width: 90%;
			font-size: 15px;

			@media  all and (max-width: 600px) {
				margin-top: 15px;
				width: 100%;
			}

			.icon {
				padding: 15px;
				font-size: 30px;
			}

			form {
				width: 100%;
				display: flex;
				justify-content: center;

				input {

					display: block;
					margin: 0 auto;
					width: 85%;
					height: 61px;
					padding: 0 15px;
					background-color: $background-color;
					border: 1px solid $default-border-color;
					border-radius: 6px;
					font-size: 20px;
					color: $default-font-color;
					transition: all .2s ease-in;

					&:focus {
						border: 1px solid $blue;
					}
				}
			}
		}

		&--date-picker {
			display: flex;
			flex-direction: row;
			justify-content: center;

			// for the submit button --> override the settings here for the other inputs below
			input {
				width: 100px;
				height: 30px;
				background-color: grey;
				color: default-font-color;
				align-self: center;
			}

			div {
				margin: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;

				p {
					margin-bottom: 5px;
				}

				label {

					input {
						margin-left: 10px;
						width: 100px;
						border: 1px solid black;
						color: black;
					}
				}
			}
		}
	}

	&--chart {
		margin: 0 10px;
		max-width: 900px;

		@media all and (min-width: 600px) {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

		@media all and (min-width: 600px) and (max-width: 700px) {
			width: 80vw;
		}

		@media all and (min-width: 700px) {
			width: 65vw;
		}
	}

	&--sort-options {
		text-align: center;
	}
}
