@import "../scss/variables.scss";

.login {
	width: 100vw;
	height: calc(100vh - #{$desktop-navbar-height});
	background-image: url("https://images.pexels.com/photos/691710/pexels-photo-691710.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260%201x,%20https://images.pexels.com/photos/691710/pexels-photo-691710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260%202x");

	&__buttons {
		margin: 100px auto 0 auto;
		max-width: 400px;
		width: 80%;
	}

}
