.login-btn {
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 25px;
	color: white;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;

	@media all and (max-width: 452px) {
		font-size: 5vw;
	}

	@media all and (max-width: 323px) {
		font-size: 4.8vw;
	}

	.icon {
		margin: 0 15px;
	}

	p {
		padding: 10px 35px 10px 5px;
	}

	&__facebook {
		background-color: rgb(59, 89, 152);
		transition: background-color .2s ease;
		&:hover {
			background-color: darken(rgb(59,89,152), 15%);
		}
	}

	&__google {
		background-color: rgb(203, 63, 34);
		transition: background-color .2s ease;
		&:hover {
			background-color: darken(rgb(203, 63, 34), 15%);
		}
	}
}
