.category-chart {
	margin: 0 auto;

	* {
		overflow-y: hidden;
	}
}

.center-label {
	font-size: 20px;
}

.custom-tooltip {
	padding: 10px;
	border-radius: 5px;

	&:before {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
	}
}

// Settings to modify recharts generated parts

.recharts-wrapper {
	overflow-y: hidden;
}

.recharts-default-legend {

	@media all and (max-width: 800px) {
		margin: 0 auto !important;
		width: 85vw !important;
	}
}
