@import '/global';

.accounts {

	&--totals {
		text-align: center;
	}

	&--sort-options {
		text-align: center;
	}

	&--btns {
		margin: 0 30px 30px 30px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		button {
			margin: 10px;
			padding: 10px;
			background-color: grey;
			border-radius: 5px;
			color: white;
			cursor: pointer;
		}
	}

	&--date-picker {

		display: flex;
		flex-direction: row;
		justify-content: center;

		// for the submit button --> override the settings here for the other inputs below
		input {
			width: 100px;
			height: 30px;
			background-color: grey;
			color: white;
			align-self: center;
		}

		div {
			margin: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;

			p {
				margin-bottom: 5px;
			}

			label {

				input {
					margin-left: 10px;
					width: 100px;
					border: 1px solid black;
					color: black;
				}
			}
		}
	}

	form {

		input {
			color: black;
		}
	}
}
