@import '/global';

.accounts {

	&--search-options {
		margin-bottom: 30px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		&--keyword-search {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;

			.icon {
				padding: 15px;
				font-size: 30px;
			}

			form {

				label {

					input {
						width: 30vw;
						height: 61px;
						padding: 0 15px;
						background-color: rgb(50, 50, 50);
						border: 1px solid white;
						border-radius: 6px;
						color: white;
						transition: all .2s ease-in;

						&:focus {
							border: 1px solid $pink;
						}
					}

				}

				input {

				}
			}
		}

		&--categorical-search {
			width: 25%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.icon {
				font-size: 40px;
				cursor: pointer;
				z-index: 1;


				path {
					transition: color .2s ease-in;

					&:hover {
						color: $pink;
					}
				}
			}

			&--categories {
				display: flex;
				justify-content: center;

				&:before {
					transform: translateY(-50px);
					opacity: 0;
					content: "";
					position: absolute;
					margin-top: 20px;
					width: 0;
					height: 0;
					border-bottom: 50px solid rgba(0, 0, 0, 0.6);
					border-left: 25px solid transparent;
					border-right: 25px solid transparent;
					transition: transform .3s ease-out, opacity .3s ease-out;
				}

				div {
					transform: translateY(-50px);
					visibility: hidden;
					opacity: 0;
					position: absolute;
					margin-top: 60px;
					width: 300px;
					height: 210px;
					padding: 20px;
					background-color: black;
					border-radius: 10px;
					transition: all.3s ease-out;
					display: flex;
					justify-content: center;
					flex-wrap: wrap;

					.icon {
						margin: 15px;
					}
				}
			}

			&--categories__active {
				display: flex;
				justify-content: center;

				&:before {
					transform: translateY(0px);
					opacity: 1;
				}

				div {
					transform: translateY(0);
					visibility: visible;
					opacity: 1;
					transition: all.3s ease-out;
				}
			}
		}

		&--date-search {
			width: 25%;
			.icon {
				font-size: 45px;
				cursor: pointer;

				path {
					transition: color .2s ease-in;

					&:hover {
						color: $pink;
					}
				}
			}
		}

		&--date-picker {
			display: flex;
			flex-direction: row;
			justify-content: center;

			// for the submit button --> override the settings here for the other inputs below
			input {
				width: 100px;
				height: 30px;
				background-color: grey;
				color: white;
				align-self: center;
			}

			div {
				margin: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;

				p {
					margin-bottom: 5px;
				}

				label {

					input {
						margin-left: 10px;
						width: 100px;
						border: 1px solid black;
						color: black;
					}
				}
			}
		}
	}

	&--totals {
		height: 40px;
		text-align: center;
	}

	&--sort-options {
		text-align: center;
	}

	&--btns {
		margin: 0 30px 30px 30px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		button {
			margin: 10px;
			padding: 10px;
			background-color: grey;
			border-radius: 5px;
			color: white;
			cursor: pointer;
		}
	}
}
