@import '/global';

.budget {
	display: flex;
	justify-content: space-around;
	align-items: center;

	@media all and (max-width: 930px) {
		flex-direction: column;
	}

	&--totals {
		margin: 20px 0;
		width: 333px;
		text-align: center;

		@media all and (max-width: 930px) {
			width: auto;
		}

		h2 {
			overflow-y: hidden;
		}
	}

	&--form {

		@media all and (max-width: 930px) {
			margin: 10px 0;
		}

		label {
			font-size: 20px;
			font-weight: bold;
			display: flex;
			flex-direction: column;
			align-items: center;

			span {

			}

			input {
				max-width: 90%;
				width: 250px;
				padding: 10px;
				border: 1px solid black;
				border-radius: 5px;
				font-size: 15px;
				color: black;
				box-sizing: border-box;

				@media all and (max-width: 930px) {
					margin-left: 0;
				}
			}
		}
	}

	&--graph{
		width: 300px;
		height: 20px;
		background-color: $green;
		border: 1px solid black;
		border-radius: 5px;

		div {
			width: 0%;
			height: inherit;
			background-color: $red;
		}
	}

	&--percent {

	}

	&--doughnut-chart {
		width: 300px !important;
	}
}
