.budget {
	margin: 20px;
	// display: flex;
	// justify-content: center;
	// align-items: center;

	&--total-spent {

	}

	&--form {
		
		label {
			font-size: 20px;
			font-weight: bold;
			display: flex;
			align-items: center;

			input {
				margin-left: 10px;
				width: 200px;
				padding: 10px;
				border: 1px solid black;
				border-radius: 5px;
				font-size: 15px;
				box-sizing: border-box;
			}
		}
	}

	&--graph{
		width: 300px;
		height: 20px;
		background-color: rgb(77,153,114);
		border: 1px solid black;
		border-radius: 5px;
		
		div {

			width: 0%;
			height: inherit;
			background-color: rgb(212,99,99);
		}
	}

	&--percent {

	}
}

.budget > * {
	margin: 5px;
}