// Shared CSS Goes here
// Every style sheet should import this file

$green: rgb(77, 153, 114);
$red: rgb(212, 99, 99);
$blue: rgb(52, 108, 161);
$transaction-background-color: #fffdf7;

button {
	border: 1px solid black;
}
