.home {
	margin: 0 30px;

	&--error {
		margin: 15px auto;
		width: 350px;
		height: 30px; 
		background-color: #f33c3c;
		border-radius: 10px;
		opacity: 0;
		transition: opacity .2s ease; 
		display: flex; 
		justify-content: center;

		p {

		}
	}
	
	&--error__display {
		opacity: 1;
	}

	&--btns {

		&__blue {
			background-color: rgb(8, 90, 166);
		}

		&__green {
			margin-left: 10px;
			background-color: rgb(9, 146, 77);
		}

		button {
			margin-top: 10px;
			padding: 15px;
			color: white;
			font-size: 20px;
			border-radius: 5px;
			cursor: pointer;
		}
	}

	&--total-spent {
		
	}
}
