
.home {

	div	{

		h1 {
			text-align: center;
		}

		img {
			margin: 0 auto;
			height: 80vh;
			padding: 10px;
			display: block;
			border: 5px solid rgb(100, 144, 183);
			border-radius: 50%;
		}

	}


	h1 {
		margin-left: 30px;
	}

}
