@import '/global';

$background-color: rgb(50, 50, 50);

.navbar {
	width: 100vw;
	height: 70px;
	background-color: $background-color;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	ul {
		display: flex;
		flex-direction: row;

		li {
			margin-right: 15px;
			text-transform: uppercase;

			&:after {
				content: '';
				margin: auto;
				display: block;
				width: 0;
				height: 3px;
				background: rgb(255, 132, 132);
				transition: all .3s ease;
			}

			&:hover:after {
				width: 100%;
			}

			a {
				color: white;
				text-decoration: none;

			}
		}

		li:first-child {
			margin-left: 15px;
		}
	}

	div {
		display: flex;
		align-items: center;

		button {
			padding: 15px;
			background-color: #346ca1;
			border: 1px solid black;
			border-radius: 5px;
			font-size: 20px;
			color: white;
			cursor: pointer;
		}
	}
}
