@import '/global';

/*$background-color: rgb(50, 50, 50);*/

.navbar {

	&--desktop {
		@media all and (max-width: 600px) {
			display: none;
		}

		width: 100vw;
		//height: 70px;
		/*background-color: $background-color;*/

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		ul {
			display: flex;
			flex-direction: row;

			li {
				margin-right: 15px;
				text-transform: uppercase;

				&:after {
					content: '';
					margin: auto;
					display: block;
					width: 0;
					height: 3px;
					background: $pink;
					transition: all .3s ease;
				}

				&:hover:after {
					width: 100%;
				}

				a {
					color: white;
					text-decoration: none;

				}
			}

			li:first-child {
				margin-left: 15px;
			}
		}

		div {
			display: flex;
			align-items: center;

			button {
				margin-top: 15px;
				margin-right: 15px;
				padding: 15px;
				background-color: #346ca1;
				border: 1px solid black;
				border-radius: 5px;
				font-size: 20px;
				color: white;
				cursor: pointer;
			}
		}
	}

	&--mobile {
		@media all and (min-width: 600px) {
			display: none;
		}

		div {

			.icon {
				font-size: 2em;
			}

		}

		&--links {
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			p {
				margin: 5px;
				width: 100%;
				font-size: 1.3em;
				overflow-y: hidden;
			}

			button {
				margin-top: 15px;
				padding: 15px;
				background-color: #346ca1;
				border: 1px solid black;
				border-radius: 5px;
				font-size: 20px;
				color: white;
				cursor: pointer;
			}

			&__active {
				display: flex;
			}
		}
	}
}
