@import '/global';

.networth {

	table {
		margin: 0 auto;
		padding: 30px;
		border-collapse: collapse; // needed to show border on the tr element

		thead {

			tr {

				th {
					width: 200px;
					padding-bottom: 10px;
					font-size: 30px;
					text-align: center;
				}
			}
		}

		tbody {

			tr {
				border: 1px solid $pink;

				td {
					width: 300px;
					height: 40px;
					padding: 10px;
					border: 1px solid $pink;
					font-size: 30px;
					text-align: center;
				}

				.acct-name {
					text-align: center;
				}

				.acct-value {

				}
			}

			tr:nth-child(even) {
				background: darken($background-color, 5%);
			}

			tr:hover {
				background: darken($background-color, 8%);
				cursor: pointer;
			}
		}
	}
}
