@import '/global';


.settings {
	margin: 0 30px;

	h1 {

	}

	div {
		margin: 10px;
		max-width: 80vw;
		width: 600px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		h2 {
			margin: 5px 0;
		}

		button {
			padding: 15px 20px;
			background-color: #d84545;
			border-radius: 5px;
			cursor: pointer;
		}

		.icon {
			font-size: 30px;
		}

	}


}
