@import '/global';


.settings {
	margin: 0 30px;

	h1 {

	}

	&--linked-accounts {
		padding: 10px;
		border-bottom: 2px solid white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		h2 {
			margin: 5px 0;
		}

		button {
			padding: 15px 20px;
			background-color: #d84545;
			border-radius: 5px;
			cursor: pointer;
		}
	}

	hr {
		width: 100%;
		background-color: white;
	}
}

