@import '/global';

$transaction-background-color: rgb(80, 80, 80);

.transaction{
	margin: 10px;
	width: 280px;
	min-width: 280px;
	// height: 600px;
	height: 100px;
	padding: 5px;
	background-color: $transaction-background-color;
	/*border: 1px solid $pink;*/
	box-shadow: 5px 5px 3px white;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	transition: all .3s ease-in;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	&:hover {
		background-color: darken($transaction-background-color, 15%);
	}

	h4 {
		margin-top: 10px;
		/*color: black;*/
		pointer-events: none;
	}

	p {
		/*color: black;*/
		pointer-events: none;
	}

	iframe {
		//hidden settings (default)
		margin: 0px;
		width: 0;
		height: 0;
		transition: all .3s ease-in;
	}

	&--map {
		width: 520px;
		height: 450px;
		box-shadow: 0px 0px 0px grey;

		iframe {
			// display settings
			margin: 20px;
			width: 90%;
			height: 70%;
		}

	}
}
