@import '/global';

.transaction-container {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&--item {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;

		&__hidden {
			display: none;
		}
	}

	button {
		margin: 30px;
		width: 150px;
		height: 45px;
		background-color: $green;
		border: 1px solid black;
		border-radius: 5px;
		color: black;
		cursor: pointer;
	}
}
