@import './../../scss/variables.scss';

@keyframes slideDown {

	0% {
		height: 0;
		top: -60px;
	}

	50% {
		height: 200px;
		top: 0;
	}

	100% {
		top: 0;
		height: 200px;
	}
}

.recharts-wrapper {
	overflow: hidden;
}

@media all and (max-width: 600px) {

	.recharts-text.recharts-cartesian-axis-tick-value {
		font-size: 0.85em;
	}

}

.savings-chart {
	position: relative;
	margin: 0 auto;
	max-width: 570px;
	width: 70%;
	height: 200px;
	padding: 15px;
	background: white;
	border-radius: 0px 0px 7px 7px;
	animation: slideDown .5s ease-out;
	z-index: 1;
	display: block;

}

.savings-chart-tooltip {
	padding: 15px;
	background: white;
	border: 1px solid rgb(225, 225, 225);
	border-radius: 10px;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	p {
		margin: 2px 0 2px 0;
	}
}
