@import './../../scss/variables.scss';

:root {
	--top-amount: -60px;
}

@keyframes slideDown {

	0% {
		height: 20px;
		top: var(--top-amount);
	}

	50% {
		height: 200px;
	}

	100% {
		top: 0;
	}
}

.recharts-wrapper {
	overflow: hidden;
}

@media all and (max-width: 600px) {

	.recharts-text.recharts-cartesian-axis-tick-value {
		font-size: 0.85em;
	}

}

.savings-chart {
	position: relative;
	margin: 0 auto;
	max-width: 570px;
	width: 70%;
	height: 20px;
	top: var(--top-amount);
	padding: 15px;
	background: white;
	border-radius: 0px 0px 7px 7px;
	display: none;
	animation: slideDown .4s ease-out;
	visibility: hidden;
	z-index: 1;

	&--show {
		display: block;
		height: 200px;
		visibility: visible;
		top: 0;
	}

}

.savings-chart-tooltip {
	padding: 15px;
	background: white;
	border: 1px solid rgb(225, 225, 225);
	border-radius: 10px;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	p {
		margin: 2px 0 2px 0;
	}
}
