@import './variables';

.networth {
	position: relative;
    margin-top: 70px;

	&--loading {
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h1 {
			text-align: center;
		}

		img {

		}
	}

	table {
		margin: 0 auto;
		padding: 30px;
		border-collapse: collapse; // needed to show border on the tr element

		thead {

			tr {
				border-bottom: 1px solid $pink;

				th {
					width: 200px;
					padding-bottom: 10px;
					font-size: 30px;
					text-align: center;
				}
			}
		}

		tbody {

			tr {

				td {
					width: 300px;
					height: 40px;
					padding: 10px;
					font-size: 30px;
					text-align: center;
				}

				.acct-name {
					text-align: center;
				}

				.acct-value {

				}
			}

			tr:nth-child(even) {
				background: darken($background-color, 5%);
			}

			tr:hover {
				background: darken($background-color, 8%);
				cursor: pointer;
			}
		}
	}

	&--recurring-payments {
		margin: 30px;
		width: 260px;

		hr {
			margin-bottom: 30px;
			height: 1px;
			background-color: gray;
		}
	}
}
