@import './variables';

$bottom: 60px;

div {

	.statistics {

		.item {

		}

		.category-chart-container {
			width: 100%;
		}
	}

	.btn {
		position: absolute;
		margin-top: 15px;
		width: 50vw;
		height: $bottom;
		background: black;
		cursor: pointer;
	}

	.btn__left {
		left: 0;
	}

	.btn__right {
		right: 0;
	}

}
