// Shared CSS Goes here
// Every style sheet should import this file

// Dark Theme
// $background-color: #253847;
// $pink: rgb(255, 132, 132);
// $red: #f98183;
// $green: #46926b;
// $blue: rgb(52, 108, 161);
// $cream: #fffaf0;
// $default-font-color: white;
//$default-font-contrast-color: black;
// $default-border-color: white;

// Light Theme EXPERIMENTAL
$background-color: rgb(240, 240, 246);
$pink: rgb(255, 132, 132);
$red: #c5434d;
$green: rgb(50, 150, 100);
$blue: #086FA6;
$cream: #fffaf0;
$yellow: #F07E30;
$gray: rgb(64, 64, 64);
$red-funky-text: #ffcece;
$default-font-color: black;
$default-font-contrast-color: white;
$default-border-color: black;

// When navbar switches from desktop to mobile
$navbar-media-query-width: 800px;

// For Charts tooltips
$color-block-dimension: 12px;
$color-block-border-radius: 1px;
