@import '../scss/variables';

.settings {
	position: relative;
	// margin: 0 30px;

	@media all and (min-width: 801px) {
		margin: 0 60px;
	}

	h1 {
		font-size: 2em;
	}

	&--rotate-tokens {
		margin: 60px 15px 0 0;

		p {

		}

		button {
			margin-top: 10px;
			padding: 20px;
			background-color: $green;
			border-radius: 5px;
			font-size: 1em;
			color: $default-font-contrast-color;
			cursor: pointer;
			transition: background-color .3s ease;

			&:hover {
				background-color: darken(#46926b, 10%);
			}
		}
	}

}
