@import '../scss/variables';

.settings {
	position: relative;
	color: white;

	h1 {
		margin-bottom: 30px;
		font-size: 2em;
	}

	&--rotate-tokens {
		margin: 60px 15px;

		p {

		}

		button {
			position: relative;
			margin: 20px 20px 6px 0;
			padding: 20px;
			background-color: $green;
			border-radius: 5px;
			font-size: 1em;
			color: $default-font-color;
			cursor: pointer;
			transition: background-color .1s ease;
			box-shadow: 0 6px darken($green, 10%);

			&:hover {
				background-color: darken(#46926b, 10%);
				box-shadow: 0 6px darken($green, 13%);
			}

			&:active {
				top: 3px;
				box-shadow: 0 6px darken($green, 10%);
			}
		}
	}
}
