@import "../../scss/variables.scss";

.linked-accounts {

	margin: 0 auto;
	max-width: 800px;
	width: 100vw;

	h2 {
		color: #f6f6f6;
		font-weight: 400;
	}

	h1 {
		margin-top: 30px;
	}

	&__list {

		margin: 0 auto;
		width: 90%;
		padding: 20px;

		@media all and (max-width: 500px) {
			font-size: .9em;
		}

		&__icon {
			position: absolute;
			width: 100%;
			font-size: 20px;
		}

		&__account {

			margin: 10px 0;
			padding: 10px 0;
			justify-content: space-between;
			align-items: center;
			display: flex;
			border-bottom: 1px solid #6a6a6a;

			button {

				position: relative;
				min-width: 90px;
				height: 40px;
				background-color: $red;
				border-radius: 4px;
				font-size: .9em;
				color: $default-font-color;
				cursor: pointer;
				transition: background-color .1s ease-in;
				font-weight: 800;
				// box-shadow: 0 6px darken($red, 10%);
				// box-sizing: border-box;
				// top: -3px;

				@media all and (max-width: 500px) {

					width: 80px;
					height: 40px;
					font-size: 1em;

				}

				&:hover {
					background-color: darken($red, 10%);
				}

				// &:active {

				// 	top: 3px;
				// 	box-shadow: 0 0 darken($red, 17%);

				// }
			}

		}

	}

}
