@import './../../scss/variables.scss';

section {

	table {
		margin: 30px auto;
		max-width: 700px;
		width: 80%;
		padding: 30px;
		background: white;
		border-radius: 10px;
		box-shadow: 0 0 10px -4px black;
		border-collapse: collapse; // needed to show border on the tr element
		cursor: default;
		// border: 1px solid $pink;

		thead {

			tr {

				td {

					width: 200px;
					padding-bottom: 10px;
					font-size: 30px;
					text-align: center;

				}
			}
		}

		tbody {

			tr {
				// border-bottom: 1px solid rgb(200, 200, 200);

				td {
					width: 300px;
					height: 40px;
					padding: 10px;
					font-size: 22px;
					text-align: center;
				}

				.acct-name {

				}

				.acct-value {

				}

				.networth-total {
					background-color: $green;
					font-size: 26px;
					color: white;

				}

			}
		}
	}
}

