.heatmap {

}


// From example on google
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	padding: 5px;
	padding-left: 10px;
	background-color: #fff;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
}

#floating-panel {
	position: absolute;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #999;
	left: 25%;
	top: 10px;
	z-index: 5;
}
