@import '../../scss/variables';

.green {
	color: $green;
}

.red {
	color: $red
}

.total-spent {
	margin-bottom: 30px;
	text-align: center;
}

.recharts {
	max-width: 900px !important;
	display: flex;
	justify-content: center;
}
.recharts-wrapper {
	overflow: hidden;
}

.victory-chart {
	margin: 0 auto;
	max-width: 900px;
	width: 80%;
	min-width: 300px;
}
